.passwordGeneretor{
  background-color: olive;
  text-align: center;
  color: black;

}
.password{
height: 25px;
width: 200px;
}
.copy-box{
  display: flex;
 justify-content: center;
 margin: 10px;

}
.copy-btn{
  background-color: green;
  height: 30px;
  font-size: 20px;
  border-radius: 2px ;
}
.length{
  color:black;
}
.Number{
  color:black;
}
.character{
  color: black;
}

.range-box{
  display: flex;
  justify-content: center;
}
